* {
  font-family: sans-serif;
}

body {
  background-color: #F8F8FA;
}

.cintas {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 20%;
  padding-right: 20%;
}